$button_size: 30px;
$border_width: 5px;


#dm_toggle_cont{
    position: relative;
	width: ($button_size + $border_width) * 2;
    height: 40px;
	border-radius: 35px;
	border: $border_width solid $tertiary;

    &:hover{
        cursor: pointer;
    }
}
#dm_toggle{
    position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: $button_size;
	height: $button_size;
    padding: 2px;
	border-radius: 35px;
    background: $tertiary;
	transition: transform .25s;
}
#dark-mode-icon{
	width: 100%;
	height: auto;

	#sun-icon,#moon-icon{ 
		transform-origin: center;
		transition: all .5s; 
	}

	#sun-icon{ transform: scale(1);}
	#moon-icon{ transform: scale(0);}
	path{ fill: black; }
}

#dm-toggle-cont:hover,
#dm-toggle:hover{
	cursor: pointer;
}


//Theme Colors
body{
    // &.light{
        
    // }
    &.dark{
        #dm_toggle{
            transform: translateX(100%);
            #sun-icon{ transform: scale(0);}
            #moon-icon{ transform: scale(1);}
        }
    }
}