@import '../../components/pages/about/summary';
@import '../../components/pages/about/values';
@import '../../components/pages/about/soft_skills';
@import '../../components/pages/about/tech_skills';

/* about page general styles */
.about_content_container{
    padding: 1rem;
    display: grid;
    justify-content: center;
}
.about_text_container{
    /* max-width: 500px; */
    color: $text;
}
.about_section_heading{
    padding-bottom: 2rem;
    margin-bottom: 1rem;
    position: relative;
    font-size: $heading_font_size;
    text-align: left;
    color: $heading;

    &:after{
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 10px;
        width: 200px;
        background: $quaternary;
    }
}

/* THEME COLORS */
body{
    &.light{ 
        .about_text_container{ color: $text; }
        .about_section_heading{ color: $heading; }
    }
    &.dark{  
        .about_text_container{ color: $text_dark; }
        .about_section_heading{ color: $heading_dark; }
    }
}
/* ************ */



