/* global imports */
@import './utils/config';
@import './utils/media';
@import './utils/animations';


/* global component imports */
@import './components/global/loader';
@import './components/global/header';
@import './components/global/footer';
@import './components/global/buttons';
@import './components/global/dark_mode_btn';


/* main page imports */
@import './pages/home/home';
@import './pages/about/about';
@import './pages/portfolio/portfolio';
@import './pages/project_page/project_page';
@import './pages/contact/contact';
@import './pages/error/error';



/* global resets */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a,button{ 
    cursor: pointer;
    transition: 0.25s color;
}
body{
    padding: 0;
    margin: 0;
    max-width: 100%;
    min-height: 101vh;
    position: relative;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: background 0.25s;
}

#root{ width: 100%; }

.site_content_container{
    visibility: hidden;
    position: relative;
    margin: 0 auto;
    margin-top: 100px;
    min-height: 70vh;
    max-width: $max_width;
}
.site_page_heading{
    padding-bottom: 2rem;
    margin-bottom: 1rem;
    position: relative;
    font-size: $heading_font_size;
    text-align: left;
    color: $heading;

    &:after{
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 10px;
        width: 200px;
        background: $quaternary;
    }
}
.site_page_subheading{
    font-size: $sub_heading_font_size;
}
.site_link{
    transition: 0.25s color;
}
.site_paragraph{
    margin: 2rem 0;
    text-align: left;
    font-size: 2rem;
    color: $text;
}



/* THEME COLORS */
body{
    &.light{ 
        background: $theme_bg_gradient;
    
        .site_link{
            color: $link;        
            &:hover{ 
                color: $link_hover;
            }
        }

    }
    &.dark{  
        background: $dark_theme_bg_gradient; 

        .site_link{
            color: $link_dark;
            &:hover{ 
                color: $link_hover_dark;
            }
        }        
    }
}