/*
About page Styles
    -> Tech Skills Section
*/

.tech_skills_container{
    
}

.technical_skills_list_container{
    
}
.technical_skills_list{
    // padding: 1rem;
    margin-top: 2rem;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.technical_skills_category_item{
    margin: 2rem 0;
    padding: 1.5rem;
    min-width: 250px;
    width: 100%;

    .category_item_name{
        padding-left: 1rem;
        margin-bottom: 2rem;
        position: relative;
        text-align: left;
        color: $heading;
        font-size: 2em;
        border-left: 0.5rem solid $quaternary;
        
    }
    .values_caption{
        margin-top: 1rem;
        color: $tertiary;
        text-align: right;
        font-size: 1em;
    }
}

.category_item_skills_container{

}
.category_item_skills_list{
    list-style: none;
}
.cateogry_item_skill_item{
    margin: 1rem 0;
    display: grid;
    grid-gap: 0.5rem;
    align-items: center;

    .skill_name{
        justify-self: flex-start;
        font-size: 1.5rem;
        text-align: right;
        color: $text;
    }

    .skill_bar{
        position: relative;
        height: 50px;
        background: $tertiary;

        .skill_bar_value{
            height: 100%;
            background: rgba($quinary, 0.8);
        }
    }

}


@include media_large{
    .technical_skills_category_item{
        background: none;
        box-shadow: none;
    
        
    }
    .cateogry_item_skill_item{
        display: grid;
        grid-gap: 0.5rem;
        grid-template-columns: 1fr 3fr;
        align-items: center;
        background: $primary;
        box-shadow: $shadow_light;
        
        .skill_name{
            justify-self: flex-end;
            font-size: 1.5rem;
            text-align: right;
            color: $text;
        }
    
    }


}