/* global imports */
@import './utils/config';
@import './utils/media';
@import './utils/animations';


/* global component imports */
@import './components/global/header';
@import './components/global/footer';
@import './components/global/buttons';


/* main page imports */
@import './pages/home/home';
@import './pages/about/about';
@import './pages/portfolio/portfolio';
@import './pages/contact/contact';
@import './pages/error/error';





/* global resets */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a,button{ 
    cursor: pointer;
    transition: 0.25s color;
}


body{
    position: relative;
    max-width: 100%;
    min-height: 101vh;
    background: $theme_bg_gradient;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}
#root{
    width: 100%;
}
.site_content_container{
    visibility: hidden;
    position: relative;
    margin: 0 auto;
    margin-top: 100px;
    min-height: 70vh;
    max-width: $max_width;
}
.site_page_heading{
    padding-bottom: 2rem;
    margin-bottom: 1rem;
    position: relative;
    font-size: $heading_font_size;
    text-align: left;
    color: $heading;

    &:after{
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 10px;
        width: 200px;
        background: $quaternary;
    }
}
.site_page_subheading{
    font-size: $sub_heading_font_size;
}
.site_link{
    color: $link;
    transition: 0.25s color;

    &:hover{ 
        color: $link_hover;
    }
}







/* MEDIA QUERIES */
// @include media_small{
//     .site_content_container{
        
//     }
// }


// @include media_medium{
//     .site_content_container{
//         margin-top:200px;
//     }
// }
@include media_large{
    .site_content_container{
        margin-top:0;
    }
}


