/*
Contact section
*/

$social_link_colors: (
    "j8ahmed": rgb(255,255,255),
    "linkedin": rgb(0,119,181),
    "codepen": rgb(0,0,0),
    "twitter": rgb(0,172,238),
    "instagram": linear-gradient(45deg, rgb(254,218,117), rgb(250,126,30), rgb(214,41,118), rgb(150,47,191), rgb(79,91,213) ),
    "github": rgb(51,51,51),
    "youtube": rgb(255,0,0),
    "freecodecamp": darkgreen,
    "hackerrank": #1ba94c,
);

%contact_button{
    padding: 1rem;
    height: 100px;
    width: 100px;
    @include center_content;
    font-size: 3em;
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover{
        font-size: 4em;
        // padding-top: 5px;
    }
}

.contact_page_container{
    padding: 1rem;
}
.contact_subheading{
    padding: 1rem;
    color: $tertiary;
    font-size: 2.5em;
    text-align: left;
}
.email_container{
    margin-bottom: 2rem;
    display: flex;
    align-items: center;

    
    .email_link{
        @extend %contact_button;
        
        a{
            color: $quaternary;

            &:hover{
                color: $link_hover;
            }
        }
    }
}

.contact_links_list{
    margin: 1rem;
    list-style: none;
    @include center_content;
    flex-flow: row wrap;
}
.contact_link_item{
    @extend %contact_button;

    a{
        text-decoration: none;
        color: rgb(255,255,255) !important;
    }

    &.j8ahmed        { background: map-get($social_link_colors, "j8ahmed" )      }
    &.linkedin       { background: map-get($social_link_colors, "linkedin" )     }
    &.codepen        { background: map-get($social_link_colors, "codepen" )      }
    &.twitter        { background: map-get($social_link_colors, "twitter" )      }
    &.instagram      { background: map-get($social_link_colors, "instagram" )    }
    &.github         { background: map-get($social_link_colors, "github" )       }
    &.youtube        { background: map-get($social_link_colors, "youtube" )      }
    &.freecodecamp   { background: map-get($social_link_colors, "freecodecamp" ) }
    &.hackerrank     { background: map-get($social_link_colors, "hackerrank" )   }
}


