/* call to action buttons */

$btn_circle_img: url(../../../assets/images/icons/button_circle_bg.svg);

.cta_btns_container{
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cta_btn{
    color: white;
    position: relative;
    width: 100px;
    height: 100px;
    padding: 2rem;
    margin: 1rem;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.5s transform, 0.25s color;

    &:hover{
        color: $link_hover;
        transform: scale(1.1);

        a{
            color: $link_hover;
        }
    }
    
    a{
        color: $link;
        text-decoration: none;
    }
    
    &::before{
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        width: 100px;
        height: 100px;
        transform-origin: center;
        background-size: 100%;
        background-image: $btn_circle_img;
        animation: rotate 10s linear infinite;
    }
}
/* call to action buttons */



/* small screens */
@include media_small{
    .cta_btns_container{
        max-width: 300px;
        justify-content: center;
    }
    .cta_btn:before{
        width: 80px;
        height: 80px;
    }
    .cta_btn{
        width: 80px;
        height: 80px;
        margin:0.5rem;
    }
}
/* extra small screens */
@include media_xtra_small{
    .cta_btns_container{
        max-width: 270px;
        grid-gap: 0.25rem;
        grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));

    }
    .cta_btn:before{
        width: 70px;
        height: 70px;
    }
    .cta_btn{
        width: 70px;
        height: 70px;
    }
}
/* large screens */
@include media_large{
    .site_content_container{
        margin-top:0;
    }
}