/*
Portfolio page styles
*/
@import '../../components/pages/portfolio/navigation';


.portfolio_page_container{
    padding: 1rem;
    margin-bottom: 4rem;
}
.no_projects_container{
    visibility: hidden;
    margin: 4rem 0;
}


.portfolio_projects_list_container{
    margin: 2rem 0;
    margin-top: 4rem;
}
.portfolio_projects_list{
    display: grid;
    grid-gap: 2rem 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: center;
}
.portfolio_project_item{
    visibility: hidden;
    border-radius: 1rem;
    box-shadow: $shadow;
    transition: 0.5s height, 0.5s width;

    &:hover .project_img_container img{
        transform: scale(1.2);
    }
}
.project_img_container{
    width: auto;
    min-height: 200px;
    @include center_content;
    align-items: flex-start !important;
    background: $primary;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    @include center_content;
    overflow: hidden;

    img{
        min-width: 300px; 
        width: 100%;
        min-height: 200px;;
        height: 100%;
        transition: 0.5s transform;
    }
}
.project_info_container{
    margin: 1rem 0;
    padding: 0 1rem;
    text-align: left;
    display: grid;
    grid-gap: 1rem;
}

// .project_name_and_category_container{

// }
// .project_card_name{

// }
.project_card_category{
    margin: 0.5rem 0;
    font-size: 1em;
    color: $secondary;
}
.project_page_link{
    justify-self: flex-end;
    align-self: flex-end;

    a{
        color: $quinary;
        text-decoration: none;
    }
}

/* THEME COLORS */
body{
    &.light{ 
        .project_card_header{ color: black; }
        .no_projects_container{ color: $text; }
        .portfolio_project_item{ background: $bg_white; }
        .project_page_link{
            a{
                &:hover{ color: $link_hover; }
            }
        }
    }
    &.dark{  
        .no_projects_container{ color: $text_dark; }
        .project_card_header{ color: $text_dark; }
        .portfolio_project_item{ background: $bg_dark; }
        .project_page_link{
            a{
                &:hover{ color: $link_hover_dark; }
            }
        }
    }
}
/* ************ */